@charset "utf-8"
body {
    background-color:aqua;
    font-family: Arial, Tahoma, sans-serif;
    color:blue;
}
h1{
    color:darkred;
}
header{
    background-color: skyblue;
    color:antiquewhite;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}
#container {
    width:100%;
}